/* import font from 3rd party font */
@font-face {
    font-family: 'Signika';
    src: url('Fonts/Signika-SemiBold.ttf');
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
}


/* Set the heading one font size, weight, background, color, letter spacing, padding, and text shadow */
h1 {
	font-size: 100px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: black;
    letter-spacing: .01em;
	padding: 10rem 0 0 0rem;
	margin-top: 10rem;
	text-shadow: .022em .022em .022em rgb(45, 44, 44);
}

/* Set the heading two font size, background, and color */
h2 {
	font-size: 45px;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Set the unordered list font family, size, and height */
ul {
    font-family:'Josefin Sans';
    font-size: 0.3in;
    line-height: 0.5in;
 }

/* Set the list image as background image*/
.rocket {
    list-style: none;
}

/*Append a rocket picture before each list*/
.rocket::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    background-image: url("https://www.svgrepo.com/show/271355/rocket-ship-rocket.svg");
}

/* Create box and set the box radius, color, border size, and background color */
.box {
    border-radius: 10px;
    background-color: #567895;
	border-color: blue;
    border: 5px solid #0b385f;
    color: #fff;
	width: max-content;
}

/*Set the division font size, color, and margin */
div {
    font-size: 35px;
    color: rgb(36, 119, 191);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

/*Change the font size and color of the meeting location and time */
#meeting-location-time {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

/*Set the heading height*/
:root {
	/* Heading height variable*/
	--heading-height: 15em;
}

/*Set the font family, size, min height, and background color in the body */
body {
	font-family: "Signika", Arial, sans-serif;
	font-size: 30px;
	min-height: 100vh;
	background-color: #fafafa;
}

/*Set the header position, width, and height */
header {
	position: absolute;
	width: 100%;
	height: var(--heading-height);
}

/* Create angled background with 'before' pseudo-element */
header::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: calc(var(--heading-height) + 10em);
	z-index: -1;
	bottom: auto;
	background: 
		linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
		url(https://wallpapercave.com/wp/wp7890859.png) no-repeat center,
		linear-gradient(#4e4376, #2b5876);
	background-size: cover;
	border-bottom: .2em solid #fff;
}

/*Padding the main*/
main {
	padding: calc(var(--heading-height) + 1.5vw) 4em 0;
}

/*Set the p font size, weight, line height, color, and text decoration */
p {
	font-size: 35px;
	font-weight: 400;
	line-height: 2;
	color: #0059ff;
	text-decoration: underline;
}

/*Set the end tag font size, text align, and color */
#end {
	font-size: 40px;
	text-align: center;	
	color: hsl(255, 84%, 45%);
}

/*Set the container display to flex */
.container-1 {
	display: flex;
}

/*Set the navigation list display to flex, set the flex-wrap, margin, padding, list-style, and gap */
.nav-list {
	display: flex;
	flex-wrap: wrap;
	margin:0; 
	padding: 0;
	list-style: none;
	gap:1rem; 
}

/*Set the navigation list flex shrink and flex grow*/
.nav-list li {
	flex-shrink: 1;
	flex-grow: 0;
}

/*Set up the grid container, display, grid auto rows, grid gap, and grid template areas */
.grid-container {
	display:grid;
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 5px; 
	grid-template-areas: "header header";
}

/*Set the grid item 1 colum start*/
.grid-item-1 {
	grid-column-start: 1/ -1; 
}

/*Set the grid item 2 row*/
.grid-item-2 {
	grid-row: span 2;
}

/*Set the grid item 3 row*/
.grid-item-3 {
	grid-row: span 2; 
}


/*Change the color of the body to blue when the screen is 500px */
@media all and (max-width: 500px) {
	body {
		color: blue;
	}
}

/*Change the color of the title to green when the screen's orientation is potrait */
@media (orientation: potrait) {
	.title {
		color: greenyellow;
	}
}

/*Include asteric at the end of the required tags */
.required::after {
	content:'*';
}


.tsummary > li {
	font-size: 40px;
	color:rgb(0, 17, 255);
	font-weight:bold;
}


#second-bullet-point + li {
	font-size: 30px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color:red;
}

/*Using the general sibling combinator*/
#fifth-bullet-point ~ li {
	font-size: 30px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: rgb(65, 220, 140);
}

/*Set the things to do font size, color, and font family */
#things-to-do {
	font-size: 28px;
	color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Set the contact font size */
#Contact {
	font-size: 60px;
}

/*Create the tooltip */
[data-tooltip] {
	position: relative;
}

[data-tooltip]:hover::after {
	content: attr(data-tooltip); 
	position: absolute; 
	top: 100%;
	left: 0; 
	right: 0; 
	margin-top: 5px; 
	padding: 5px; 
	background-color: lightgray;
}

/*Set the close button active and red while the button is being touched */
.close-button :active {
	color:red; 
	font-weight: 700;
}

/*Set the close button text align, background color, color, padding, border radius, 
moz, and webkit border radius, and margin*/
.close-button {
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 0.1em 0 0.1em 0;
}

/*Set the menu display, width, height, border, border radius, position, right,
 top, and text decoration*/
.menu{
	display:block;
	width:40px;
	height:30px;
	border:2px solid #fff;
	border-radius:3px;
	position:absolute;
	right:20px;
	top:20px;
	text-decoration:none
}

/*Include after the menu content, color, display, width, height, background, 
position, margin, top, left, right, and box shadow*/
.menu:after {
	content:"";
	color:#eee; 
	display:block;
	width:20px;
	height:3px;
	background:#fff;
	position:absolute;
	margin:0 auto;
	top:5px;
	left:0;
	right:0;
	box-shadow:0 8px, 0 16px
}

/*Set the logo color, border, border radius, text decoration display, align
items, align content, margin, padding, font weigt, size, line height, box
sizing, and height*/
.logo {
	color:#fff;
	border:2px solid #fff;
	border-radius:3px;
	text-decoration:none;
	display:inline-flex;
	align-items:center;
	align-content:center;
	margin:20px;
	padding:0px 10px;
	font-weight:900;
	font-size:1.1em;
	line-height:1;
	box-sizing:border-box;
	height:40px
}

/*Set the reset button size */
input[type="reset"]
{
    font-size:50px;
}

/*Set the submit button size */
input[type="submit"]
{
    font-size:50px;
}